.catalog-extra {
  padding-top: 8px;
}

.catalog-extra__subheader {
  font-family: "Oswald Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $color-text-gray1;
  background-color: $color-bg-white;
  display: inline-block;
  padding: 20px;
}

.catalog-extra__subheader-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.catalog-extra__subheader-underline {
  position: absolute;
  height: 3px;
  top: 50%;
  background-color: $color-bg-green;
  right: 0;
  width: 100%;
  z-index: -1;
}

.catalog-extra__list {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
}

.catalog-extra__item {
  padding-top: 15px;
  padding-bottom: 16px;
  border-top: 1px solid $color-border2;
  border-bottom: 1px solid $color-border2;
}

.catalog-extra__item:not(:first-child) {
  border-top: none;
  border-bottom: 1px solid $color-border2;
}

.catalog-extra__title {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $color-text-gray3;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.catalog-extra__params {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $color-text-gray2;
  width: 100%;
  padding-bottom: 15px;
}

.catalog-extra__params-value {
  text-align: right;
}

.catalog-extra__order-btn {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  background-color: $color-bg-green;
}

.catalog-extra__order-btn:hover {
  background-color: $color-bg-green-hover;
}

.catalog-extra__order-btn:active {
  background-color: $color-bg-green-hover;
  color: $color-text-white03;
}

.catalog-extra__gift {
  margin: 40px auto 35px auto;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 280px;
  height: 289px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.catalog-extra__gift-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-white;
  text-align: center;
  padding-top: 65px;
}

@media (min-width: 769px) {
  .catalog-extra__subheader {
    font-family: "Oswald Regular", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: $color-text-gray1;
    background-color: $color-bg-white;
    display: inline-block;
    padding: 20px;
  }

  .catalog-extra__title {
    font-size: 20px;
    line-height: 20px;
  }

  .catalog-extra__params {
    font-size: 16px;
    line-height: 20px;
  }

  .catalog-extra__list {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .catalog-extra__item {
    border: 1px solid $color-border2;
    padding-top: 25px;
    padding-bottom: 28px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .catalog-extra__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-extra__params {
    padding: 0;
    width: 36%;
  }

  .catalog-extra__title {
    padding: 0;
  }

  .catalog-extra__order-btn {
    margin-top: 22px;
  }

  .catalog-extra__list {

    padding-top: 38px;
  }

  .catalog-extra__gift {
    margin: 65px auto 75px auto;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 708px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
  }

  .catalog-extra__gift-text {
    text-align: left;
    padding-top: 0;
  }
}

@media (min-width: 1281px) {
  .catalog-extra__item {
    border-top: 1px solid $color-border2;
    border-bottom: 1px solid $color-border2;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
  }

  .catalog-extra__info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .catalog-extra__params {
    padding: 0;
    width: 50%;
    padding-right: 30px;
  }

  .catalog-extra__title {
    padding: 0;
    width: 50%;
  }

  .catalog-extra__order-btn {
    margin-top: 0;
    width: 39%;
  }

  .catalog-extra__list {

    padding-top: 0;
    padding-bottom: 50px;
    padding-right: 80px;
  }

  .catalog-extra__gift {
    margin: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 245px;
    height: 289px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
  }

  .catalog-extra__gift-text {
    text-align: center;
    padding-top: 0;
  }

  .catalog-extra__wrapper {
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1280px;
    margin: auto;
  }

  .catalog-extra__params-title {
    text-align: left;
    width: 25%;
  }

  .catalog-extra__params-value {
    text-align: right;
    //align-content: flex-end;
    width: 25%;
    //align-self: flex-end;
  }

  .catalog-extra__gift-img {
    margin-top: 20px;
  }
}
