.example {
  background-color: $color-bg-gray;
}

.example__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.example__header {
  font-family: "Oswald Regular", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: $color-text-gray1;
  padding-top: 25px;
}

.example__story {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color-text-gray2;
  padding-top: 24px;
}

.example__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.example__item {
  min-width: 124px;
  width: 100%;
  height: 56px;
  border: 1px solid $color-border2;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.example__item:nth-child(2) {
  margin-left: 32px;
}

.example__item-point {
  font-family: "Oswald Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $color-text-gray1;
}

.example__item-description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $color-text-gray2;
  position: absolute;
  bottom: -15px;
  width: 87px;
  padding-right: 16px;
  padding-left: 16px;
  text-align: center;
  background-color: $color-bg-gray;
}

.example__expenses {
  font-family: "Oswald Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text-gray1;
  text-align: center;
  padding-top: 33px;
}

.example__cat {
  width: 320px;
  height: 240px;
  margin-top: 30px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.example__cat--before {
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.example__cat--after {
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.example__cat-btn {
  font-family: "Oswald Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-text-gray1;
}

.example__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.example__slider-container {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 0;
  width: 40%;
}

.example__slider-central {
  appearance: none;
  height: 14px;
  width: 100%;
  border: 1px solid $color-border2;
  border-radius: 5px;
  outline: none;
  background-color: $color-bg-white;
  padding-left: 5px;
  padding-right: 5px;
}

.example__slider-central::-webkit-slider-thumb {
  appearance: none;
  width: 50%;
  height: 6px;
  background: $color-bg-green;
  cursor: pointer;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .example {
    background-color: transparent;
  }

  .example__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid $color-border4;
  }

  .example__header {
    font-size: 60px;
    line-height: 60px;
    padding-top: 43px;
  }

  .example__story {
    font-size: 16px;
    line-height: 24px;
    padding-top: 65px;
  }

  .example__item-point {
    font-size: 30px;
    line-height: 37px;
  }

  .example__item-description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: unset;
    bottom: -7px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .example__expenses {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding-top: 64px;
  }

  .example__cat-btn {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: underline dotted $color-text-gray1;
  }

  .example__item {
    width: 162px;
    height: 72px;
    border: 1px solid $color-border2;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .example__list {
    list-style: none;
    display: flex;
    justify-content: left;
    padding-top: 51px;
  }

  .example__item:nth-child(2) {
    margin-left: 42px;
  }

  .example__numbers-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
  }

  .example__expenses-price {
    display: block;
    padding-top: 10px;
  }

  .example__slider-wrapper {
    position: relative;
    height: 717px;
    //width: 100%;
  }

  .example__cat-wrapper {
    position: absolute;
    width: 690px;
    height: 517px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 100px;
  }

  .example__gray-after {
    background-color: #eaeaea;
    height: 460px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .example__gray-before {
    background-color: #f2f2f2;
    height: 460px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .example__cat-after {
    background-image: url("../img/after-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 690px 517px;
    width: 50%;
    height: 517px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .example__cat-before {
    background-image: url("../img/before-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 690px 517px;
    width: 50%;
    height: 517px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .example__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }

  .example__slider-container {
    padding-left: 25px;
    padding-right: 25px;
    line-height: 0;
    width: 428px;
  }

  .example__slider-central {
    appearance: none;
    height: 6px;
    width: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #dcdcdc;
    padding-left: 0;
    padding-right: 0;
  }

  .example__slider-central::-webkit-slider-thumb {
    appearance: none;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #cecece;
    //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    cursor: pointer;
  }
}
