.main__header {
  font-family: "Oswald Regular", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: $color-text-gray1;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}
