.nav__wrapper {
  min-width: 320px;
  display: none;
}

.nav__wrapper--active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__item {
  height: 66px;
  border-bottom: 1px solid $color-border4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  font-family: "Oswald Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-text-gray1;
}

.nav__link:hover {
  color: $color-text-gray06;
}

.nav__link:active {
  color: $color-text-gray03;
}

.nav__link--current {
  padding-bottom: 8px;
  border-bottom: 2px solid $color-bg-green;
}

@media (min-width: 769px) {
  .nav__wrapper {
    display: flex;
    justify-content: flex-end;
    width: auto;
    min-width: unset;

    flex-direction: row;
  }

  .nav__link {
    font-family: "Oswald Regular", sans-serif;
    font-size: 18px;
    line-height: 24px;
  }

  .nav__item {
    border-bottom: none;
    height: auto;
    display: block;
    padding-left: 35px;
  }

  .nav__list {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 1281px) {
  .nav__link {
    font-family: "Oswald Regular", sans-serif;
    font-size: 20px;
    line-height: 25px;
  }

  .nav__link--index-current {
    padding-bottom: 6px;
    border-bottom: 2px solid $color-text-white;
  }

  .nav__link--index {
    color: $color-text-white;
  }

  .nav__link--index:hover {
    color: $color-text-white06;
  }

  .nav__link--index:active {
    color: $color-text-white03;
  }
}
