.nav {

}

.nav__wrapper {
  min-width: 320px;
  display: none;
}

.nav__wrapper--active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__item {
  height: 66px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  font-family: 'Oswald Medium', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}

.nav__link:hover {
  color: rgba(17, 17, 17, 0.6);
}

.nav__link:active {
  color: rgba(17, 17, 17, 0.3);
}

.nav__link--current {
  padding-bottom: 12px;
  border-bottom: 2px solid #68b738;
}
