.program {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

.program__item {
  margin-top: 20px;
  background-color: $color-bg-gray2;
  padding: 25px 20px;
  position: relative;
}

.program__header {
  font-family: $font-oswald-reg;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-text-gray1;
  padding-top: 7px;
  padding-left: 70px;
}

.program__header-circle {
  background-color: $color-bg-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 26px;
  left: 22px;
  position: absolute;
}

.program__header-circle-cat-slim {
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 49px;
  top: 22px;
  left: 30px;
  position: absolute;
}

.program__header-circle-cat-pro {
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 28px;
  top: 35px;
  left: 13px;
  position: absolute;
}

.program__description {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 18px;
  color: $color-text-gray2;
  padding-bottom: 20px;
  padding-top: 30px;
}

.program__link {
  font-family: $font-oswald-reg;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-text-gray1;
  border-top: $color-border3 solid 1px;
  padding-top: 20px;
  display: block;
}

.program__link::after {
  content: "";
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 11px;
  margin-left: 12px;
  margin-top: 3px;
  position: absolute;
}

.program__link:hover::after {
  background-image: url("../img/icon-right-arrow-verylong.svg");
  width: 32px;
}

.program__link:active {
  color: $color-text-lightgray03;
}

.program__link:active::after {
  background-image: url("../img/icon-right-arrow-verylong.svg");
  width: 32px;
  opacity: 0.4;
}

@media (min-width: $res-tablet) {
  .program__header {
    font-size: 36px;
    line-height: 37px;
  }

  .program__description {
    font-size: 16px;
    line-height: 24px;
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;
    border-top: none;
  }

  .program__item {
    margin-top: 30px;
  }
}


@media (min-width: $res-tablet) and (max-width: $res-desktop) {
  .program {
    padding-left: 30px;
    padding-right: 30px;
  }

  .program__header {
    padding-left: 0;
    padding-top: 20px;
  }

  .program__link {
    padding-top: 0;
  }

  .program__description {
    padding-top: 25px;
    padding-bottom: 60px;
  }

  .program__item {
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 55px;
    padding-right: 310px;
  }

  .program__header-circle {
    width: 200px;
    height: 200px;
    top: 92px;
    right: 62px;
    left: unset;
  }

  .program__header-circle-cat-slim {
    width: 140px;
    height: 194px;
    top: 80px;
    right: 92px;
    left: unset;
  }

  .program__header-circle-cat-pro {
    width: 268px;
    height: 112px;
    top: 135px;
    right: 28px;
    left: unset;
  }
}

@media (min-width: $res-desktop) {
  .programs {
    max-width: 1440px;
    margin: auto;
  }

  .program {
    display: flex;
    padding: 0;
  }

  .program__item:first-child {
    margin-left: 30px;
  }

  .program__item:last-child {
    margin-left: 80px;
    margin-right: 30px;
  }

  .program__item {
    min-width: 570px;
    width: 100%;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 52px;
    padding-right: 55px;
  }

  .program__header {
    padding-left: 160px;
    padding-top: 0;
  }

  .program__link {
    padding-top: 0;
  }

  .program__description {
    padding-top: 75px;
    padding-bottom: 35px;
  }

  .program__header-circle {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }

  .program__header-circle-cat-slim {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 66px;
  }

  .program__header-circle-cat-pro {
    width: 134px;
    height: 56px;
    top: 69px;
    left: 34px;
  }
}
