.show-catalog {
  border: none;
}

.show-catalog__btn-plus {
  width: 30px;
  height: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  position: relative;
  margin-bottom: 22px;
}

.show-catalog__btn-plus::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  top: 0;
  left: 14px;
  background-color: $color-bg-gray4;
}

.show-catalog__btn-plus::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 14px;
  left: 0;
  background-color: $color-bg-gray4;
}

.show-catalog__header {
  font-family: $font-oswald-reg;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-gray1;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 9px;
}

.show-catalog__text {
  font-family: $font-arial;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-gray2;
  text-align: center;
  padding-bottom: 20px;
}

.show-catalog__btn-all {
  font-family: $font-oswald-reg;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-gray2;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  background-color: $color-bg-gray;
}

.show-catalog__btn-all:hover {
  background-color: $color-bg-gray3;
}

.show-catalog__btn-all:active {
  background-color: $color-bg-gray3;
  color: $color-text-midgray03;
}

@media (min-width: $res-tablet) {
  .show-catalog__header {
    font-size: 20px;
    line-height: 20px;
    padding-top: 30px;
  }

  .show-catalog__text {
    font-size: 16px;
    line-height: 16px;
    padding-top: 15px;
  }

  .show-catalog {
    border: none;
    padding: 0;
  }

  .show-catalog__header-br {
    display: block;
  }

  .show-catalog__text-br {
    display: block;
  }

  .show-catalog__btn-all {
    margin-top: 65px;
  }

  .show-catalog__btn-plus {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
    margin-bottom: 22px;
  }

  .show-catalog__btn-plus::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 60px;
    top: 0;
    left: 29px;
    background-color: $color-bg-gray4;
  }

  .show-catalog__btn-plus::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    top: 29px;
    left: 0;
    background-color: $color-bg-gray4;
  }
}
