.social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $color-border3;
  list-style: none;
}

.social__item:not(:first-child) {
  padding-left: 40px;
}

.social__link {
  fill: $color-text-gray1;
}

.social__link:hover {
  fill: $color-bg-green;
}

.social__link:active {
  fill: $color-bg-green;
  opacity: 0.3;
}
