$font-oswald-reg: "Oswald Regular", "Arial", sans-serif;
$font-oswald-med: "Oswald Medium", "Arial", sans-serif;
$font-arial: "Arial", sans-serif;

$res-mobile: 320px;
$res-tablet: 768px;
$res-desktop: 1300px;

// @media (min-width: $res-mobile) and (max-width: $res-tablet) {

// @media (min-width: $res-tablet) {
// @media (min-width: $res-tablet) and (max-width: $res-desktop) {
// @media (min-width: $res-desktop) {


$color-border: #ededed;
$color-border2: #cdcdcd;
$color-border3: #d9d9d9;
$color-border4: #e6e6e6;
$color-border5: #444444;
$color-border6: #bababa;
$color-border-red: #ff8282;

$color-text-white: #ffffff;
$color-text-white03: rgba(255, 255, 255, 0.3);
$color-text-white06: rgba(255, 255, 255, 0.6);

$color-text-gray03: rgba(17, 17, 17, 0.3);
$color-text-gray06: rgba(17, 17, 17, 0.6);
$color-text-lightgray03: rgba(129, 129, 129, 0.3);
$color-text-midgray03: rgba(68, 68, 68, 0.3);
$color-text-gray1: #111111;
$color-text-gray2: #444444;
$color-text-gray3: #222222;

$color-bg-white: #ffffff;
$color-bg-gray: #f2f2f2;
$color-bg-gray2: #e6e6e6;
$color-bg-gray3: #ebebeb;
$color-bg-gray4: #d3d3d3;

$color-bg-green: #68b738;
$color-bg-green-hover: #5eaa2f;
$color-bg-green1: #63a73a;
